.countryWrapper {
    display: flex;
    flex-direction: row;
}

.country {
    margin-top: 2vh;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    height: 28vh;
    width: 45vw;
    background-color: #ff7300;
}

.showCountry {
    width: 45vw;
    margin-left: 2vw;
}

